$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1200px,
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.container {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.mt-60 {
  margin-top: 60px;
}
