body > div {
  --header-height: 64px;

  > :where(header, main, footer) {
    padding: 0 20px;

    @media (min-width: 768px) {
      padding: 0 24px;
    }
  }

  .Temporary {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid #ededed;
  }

  main {
    margin: auto;
    max-width: 1248px;
    padding-top: var(--header-height);
  }

  > footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-bottom: 24px;

    .postLink {
      background-color: var(--purple600);
      color: var(--white);
      display: block;
      padding: 14px 24px;
      border-radius: 12px;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.01em;
      text-align: center;
    }

    @media (min-width: 1248px) {
      position: static;
      display: flex;
      justify-content: center;

      .postLink {
        margin-top: 64px;
        width: 280px;
      }
    }
  }
}
