main, footer {
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 24px;
  }
}

main {
  margin: auto;
  max-width: 1248px;
  padding-top: 50px;

  .popularPaper,
  .recentlyCreated {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 1160px;
    gap: 12px;

    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: 768px) {
      margin: 50px auto 0;
      gap: 16px;

      h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.01em;
      }
    }
  }

  @media (width < 768px) {
    padding-top: 40px;

    .recentlyCreated {
      margin-top: 74px;
    }
  }
}

main + footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-bottom: 24px;

  .postLink {
    background-color: var(--purple600);
    color: var(--white);
    display: block;
    padding: 14px 24px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;
  }

  @media (min-width: 1248px) {
    position: static;
    display: flex;
    justify-content: center;

    .postLink {
      margin-top: 64px;
      width: 280px;
    }
  }
}
