.MainContainer {
  top: 124px;
  left: 360px;
  margin: 30px;
}

.MainFirstContainer {
  padding: 60px 40px 60px 60px;
  border-radius: 16px;

  background: #f6f8ff;
  display: flex;
  justify-content: space-between;
}

.section1 {
  top: 60px;
  left: 60px;
}

.PointOne {
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 50px;
  background: #9935ff;

  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #ffffff;
}

.LetterContainer {
  height: 108px;
  margin-top: 8px;
}

.Bold-text {
  font-size: 24px;
  font-weight: 700;

  line-height: 36px;

  display: block;
  padding-top: 16px;
}

.Plain-text {
  font-size: 18px;
  font-weight: 400;
  color: #555555;
  line-height: 28px;

  display: block;
  padding-top: 8px;
}
